# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-server
src/main/resources/assets/neutronia_revamped/structures/*.nbt
src/main/resources/assets/neutronia/models/block-todo/*.json
src/main/resources/assets/neutronia/models/item-todo/*.json