# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-server
src/main/resources/assets/neutronia_legacy/**/**/
src/main/java/team/hdt/neutronia_legacy/**/**/*
src/main/resources/assets/neutronia/textures/exluded_textures/*.png
src/main/resources/assets/neutronia/textures/exluded_textures/*.mcmeta
ssets
